.red {
  background-color: rgb(211, 104, 104);
  font-weight: bold;
}
.blue {
  background-color: lightskyblue;
  font-size: 1.5rem;
}
.green {
  background-color: rgb(112, 194, 112);
}
.yellow {
  background-color: rgb(255, 255, 149);
}
