<h1>Hello World</h1>
<app-lesson7-interpolation></app-lesson7-interpolation>
<app-lesson8-binding></app-lesson8-binding>
<app-lesson9event-binding></app-lesson9event-binding>
<app-lesson10-two-way-binding></app-lesson10-two-way-binding>
<app-lesson11ngstyle></app-lesson11ngstyle>
<app-lesson12ngclass></app-lesson12ngclass>
<app-lesson13ngelse></app-lesson13ngelse>
<app-lesson14ngswitch></app-lesson14ngswitch>
<app-lesson15ngfor></app-lesson15ngfor>
<app-lesson16pipes></app-lesson16pipes>

<!-- <p>{{ title }} </p>
<p><strong> {{ number - 2  }} </strong></p>
<p><strong> {{ arr }} </strong></p>
<p><strong> {{ obj }} </strong></p>
<p><- выведет object Object </p>
<p><strong> {{ obj.a }} </strong></p>
<p><strong> {{ obj.b.c }} </strong></p>
<p> {{ 40 + 10 }} </p>
<p> {{ 'Hello'+' Lera!' }} </p> -->



